<!DOCTYPE html>
<html>
<head>
  <title>Auditor</title>
  <%= stylesheet_link_tag    "auditor/application", media: "all" %>
  <%= javascript_include_tag "auditor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
