<div class="card mb-2 medical-facility-card">
  <div class="card-body">
    <h5 class="card-title"><%= department.name %></h5>
    <p class="card-text"><strong>Head: </strong>Dr P. Lace Holder</p>
	<button class="btn btn-block btn-primary">View</button>
  </div>
</div>