<div class="card mb-2 medical-facility-card">
  <div class="card-body">
    <h5 class="card-title">Doctor Name</h5>
    <p class="card-text">Doctor Text</p>

    <div class="btn-group justify-content-between btn-block" role="group">
	    <button class="btn btn-block btn-secondary">View</button>
	    <a class="btn btn-primary">More Details</a>
    </div>
  </div>
</div>