<div class="card mb-2 medical-facility-card">
  <div class="card-body">
    <h5 class="card-title"><%= doctor.full_name %></h5>
    <p class="card-text"><%= doctor.workplace.name %></p>

	<a class="btn btn-block btn-primary" href="<%= doctor_path(doctor.id) %>">Show</a>
  </div>
</div>