<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title"><%= facility.name %></h5>
    <p class="card-text"><%= facility.address %></p>

    <div class="btn-group justify-content-between btn-block" role="group">
	    <button class="btn btn-block btn-secondary" onclick="selectFacility(getFacilityByDbId(<%= facility.id %>))">View</button>
	    <a class="btn btn-primary" href=<%= medical_facility_path(facility.id) %>>More Details</a>
    </div>
  </div>
</div>