<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title"><%= facility_name %></h5>
    <p class="card-text"><%= facility_address %></p>

    <div class="btn-group justify-content-between btn-block" role="group">
	    <a href="#" class="btn btn-block btn-secondary">View</a>
	    <a href="#" class="btn btn-primary">More Details</a>
    </div>
  </div>
</div>