<h1><%= @current_facility.name %></h1>
<h2>Edit Mode</h2>
<p>Page Under Construction...</p>
<a class="btn btn-primary" href="/facilities/<%= @current_facility.id %>">Show Facility</a>
<a class="btn btn-secondary" href="/facilities">View All Facilities</a>