<div class="card mb-3 audit-card" id="audit-card-">
	<div class="card-body pb-0">
		<h5><span class="record-entry">RECORD ENTRY</span></h5>
		<div class="row mb-0">
			<div class="col-sm-12 col-md-4">
				<strong>Subject: </strong><p><span class="record-subject">SUBJECT</span></p>
			</div>
			<div class="col-sm-12 col-md-4">
				<strong>Author: </strong><p><span class="record-author">AUTHOR</span></p>
			</div>
			<div class="col-sm-12 col-md-4">
				<strong>Created: </strong><p><span class="record-time-ago-words">WORDS_TIME</span> ago (<span class="record-time-ago-strftime">STRF_TIME</span>)</p>
			</div>
		</div>
	</div>
</div>