/* Overrides */

$ash-gray: #B5B7B9;
$trolley-gray: #7D8185;
$onyx: #343A40;
$persian-orange: #CD9557;
$solid-pink: #8C2F39;
$white: #FFFFFF;
$red: #FF0000;

$theme-colors: (
  "primary": $persian-orange,
  "secondary": $onyx,
  "superuser": $solid-pink
);

body {
	font-family: "Garamond" !important;
}

$body-bg: $ash-gray;

a {
	color: map-get($theme-colors, "primary");
}

.btn:hover {
	color: $white !important;
}

.btn-primary {
	color: $white !important;
}

.btn-superuser {
	@extend .btn-primary;
	color: map-get($theme-colors, "superuser");
}

.border-flat-top {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.border-flat-top-right {
	border-top-right-radius: 0px !important;
}

.border-flat-top-left {
	border-top-left-radius: 0px !important;
}


.border-no-top {
	border-top: 0px !important;
}

.nav-pills > li:first-child {
	border-top-right-radius: 0rem !important;
}

.nav-pills > li:last-child {
	border-top-left-radius: 0rem !important;
}

.nav-pills > li {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	background-color: $white;
}

.nav-pills > li > a {
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.nav-pills > li > a:active {
	background-color: map-get($theme-colors, "primary") !important;
}

.alert-deleted {
	@extend .alert-primary;
	color: map-get($theme-colors, "superuser") !important;
}

.selected-list-item {
	background-color: map-get($theme-colors, "primary") !important;
	color: $white !important;
}

.cursor-pointer {
	cursor: pointer;
}

.display-none {
	display: none;
}

/* Change the color of the hamburger (Source: https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color) */
$hamburger-color: map-get($theme-colors, "primary");

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$hamburger-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: map-get($theme-colors, "primary");
} 

/* Imports */
@import "bootstrap";
